{% extends "dashboard/index.html" %}


{% block content_dashboard %}
<form method="POST" action="{% url 'Edit_room' room.pk %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="inputRoom">TÊN PHÒNG</label>
      <input type="text" class="form-control" id="inputRoom" name="name" value="{{room.name}}">
    </div>

    <div class="form-group">
      <label for="inputcode">MÃ PHÒNG</label>
      <input type="text" class="form-control" id="inputcode" name="code">
    </div>


     <button type="submit" class="btn btn-primary btn-sm">LƯU</button>
</form>
{% endblock %}