{% extends "dashboard/index.html" %}
{% load static %}

{% block extend_css %}
<link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

 {% block content_dashboard %}
    <h6 class="collapse-header">TẠO KẾT LUẬN GIAO BAN</h6>
    <form method="POST" action="{% url 'Tao_KLGB' %}"  enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="room">PHÒNG CHỦ TRÌ:</label>
        <select id="room" class="form-control" name = "room">
          <option selected>----------</option>
          {% for room in rooms %}
            <option value="{{room.id}}">{{room.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="type_summary">KẾT LUẬN GIAO BAN:</label>
        <select id="type_summary" class="form-control" name = "type_summary">
          <option selected>----------</option>
          {% for type_summary in type_summaries %}
            <option value="{{type_summary.0}}">{{type_summary.1}}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlTextarea1">NỘI DUNG CÔNG VIỆC:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name= "description"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1" >VĂN BẢN ĐƯỢC GIAO:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name= "document"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">TẢI LÊN</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="upload_file">
      </div>
      <div class="form-group">
        <label for="start">TIẾN ĐỘ ĐƯỢC GIAO:</label>
        <input type="date" id="start" name="deadline_plan" >
      </div>
      {% if request.user.role == 3 %} 
      <div class="form-group" >
        <label for="end">TIẾN ĐỘ THỰC TẾ:</label>
        <input type="date" id="end" name="deadline" >
      </div>
      {% endif %} 
      <button type="submit" class="btn btn-primary">LƯU</button>
  </form>

 {% endblock %}

{% load static %}
{% block extend_js %}
{% endblock %}