{% extends "dashboard/index.html" %}
{% load static %}

{% block extend_css %}
<link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

 {% block content_dashboard %}
    <h6 class="collapse-header">TAO KET LUAN GIAO BAN</h6>
    <form method="POST" action="{% url 'Tao_KLGB' %}"  enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="room">Phong Chu Tri:</label>
        <select id="room" class="form-control" name = "room">
          <option selected>----------</option>
          {% for room in rooms %}
            <option value="{{room.id}}">{{room.name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="type_summary">Ket Luan Giao Ban:</label>
        <select id="type_summary" class="form-control" name = "type_summary">
          <option selected>----------</option>
          {% for type_summary in type_summaries %}
            <option value="{{type_summary.0}}">{{type_summary.1}}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Noi Dung Cong Viec:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name= "description"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1" >Van Ban Duoc Giao:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name= "document"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Tai Len</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="upload_file">
      </div>
      <div class="form-group">
        <label for="start">Tien Do Duoc Giao:</label>
        <input type="date" id="start" name="deadline_plan" >
      </div>
      <div class="form-group">
        <label for="end">Tien Do Thuc Te:</label>
        <input type="date" id="end" name="deadline" >
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
  </form>

 {% endblock %}

{% load static %}
{% block extend_js %}
{% endblock %}