{% extends "dashboard/index.html" %}
    {% load static %}

    {% block extend_css %}
    <link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

 {% block content_dashboard %}
    
   

 {% endblock %}
   {% load static %}
   {% block extend_js %}
     <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
     <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
     <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
   {% endblock %}