{% extends "dashboard/index.html" %}
{% load static %}

{% block extend_css %}
<link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

 {% block content_dashboard %}

    
   <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">KẾT LUẬN GIAO BAN VẬN HÀNH</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                          <tr>
                                            <th>STT</th>
                                            <th>CÔNG VIỆC</th>
                                            <th>VĂN BẢN ĐƯỢC GIAO</th>
                                            <th>CÁ NHÂN CHỦ TRÌ</th>
                                            <th>TIẾN ĐỘ ĐƯỢC GIAO</th>
                                            <th>TIẾN ĐỘ HOÀN THÀNH THỰC TẾ</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                          <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for summaryoperation in jobsummary %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{summaryoperation.description}}</td>
                                            <td>{{summaryoperation.document}}</td>
                                            <td>{{summaryoperation.user.fullname}}</td>
                                            <td>{{summaryoperation.deadline_plan}}</td>
                                            <td>{{summaryoperation.deadline}}</td>
                                        </tr>

                                    {% endfor%}    
                                    </tbody>
                                </table>   
                            </div>
                        </div>
                    </div>

    

 {% endblock %}

 {% load static %}
 {% block extend_js %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}
