{% extends "dashboard/index.html" %}
    {% load static %}

    {% block extend_css %}
    <link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}

{% block content_dashboard %}
    <h6 class="collapse-header">DANH SACH KET LUAN GIAO BAN</h6>
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">KET LUAN GIAO BAN DAU TU XAY DUNG VA SUA CHUA LON</h6>
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            
                            <th style ="text-align:center;vertical-align: middle;" >STT</th>
                            <th style ="text-align:center;vertical-align: middle;" >CONG VIEC</th>
                            <th style ="text-align:center;vertical-align: middle;" >VAN BAN DUOC GIAO</th>
                            <th style ="text-align:center;vertical-align: middle;" >PHONG CHU TRI</th>
                            <th style ="text-align:center;vertical-align: middle;" >TIEN DO DUOC GIAO</th>
                            <th style ="text-align:center;vertical-align: middle;" >TIEN DO THUC TE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for listjobsummary in showjobsummary %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{listjobsummary.description}}</td>
                                <td>{{listjobsummary.document}}</td>
                                <td>{{listjobsummary.room.name}}</td>
                                <td>{{listjobsummary.deadline_plan}}</td>
                                <td>{{listjobsummary.deadline}}</td>
                                <td>
                                    <a href="{% url 'editjobsummary' pk=editjobsummary.id %}">
                                        <i class="far fa-edit" title="Edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="far fa-trash-alt" title="Delete"></i>
                                    </a>
                                </td>
                            </tr>
                                
                        {% endfor%}    
                        </tbody>
                    <tfoot>
                          <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    
                </table>
            </div>
        </div>
    </div>


{% endblock %}
   {% load static %}
   {% block extend_js %}
     <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
     <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
     <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
   {% endblock %}